/*main.scss*/
@font-face {
  font-family: 'Fira Sans', sans-serif;
  src: url("../../lib/fonts/fira_sans/FiraSans-Black.ttf") format("truetype");
  src: url("../../lib/fonts/fira_sans/FiraSans-BlackItalic.ttf") format("truetype");
  src: url("../../lib/fonts/fira_sans/FiraSans-Bold.ttf") format("truetype");
  src: url("../../lib/fonts/fira_sans/FiraSans-BoldItalic.ttf") format("truetype");
  src: url("../../lib/fonts/fira_sans/FiraSans-ExtraBold.ttf") format("truetype");
  src: url("../../lib/fonts/fira_sans/FiraSans-ExtraBoldItalic.ttf") format("truetype");
  src: url("../../lib/fonts/fira_sans/FiraSans-ExtraLight.ttf") format("truetype");
  src: url("../../lib/fonts/fira_sans/FiraSans-ExtraLightItalic.ttf") format("truetype");
  src: url("../../lib/fonts/fira_sans/FiraSans-Italic.ttf") format("truetype");
  src: url("../../lib/fonts/fira_sans/FiraSans-Light.ttf") format("truetype");
  src: url("../../lib/fonts/fira_sans/FiraSans-LightItalic.ttf") format("truetype");
  src: url("../../lib/fonts/fira_sans/FiraSans-Medium.ttf") format("truetype");
  src: url("../../lib/fonts/fira_sans/FiraSans-MediumItalic.ttf") format("truetype");
  src: url("../../lib/fonts/fira_sans/FiraSans-Regular.ttf") format("truetype");
  src: url("../../lib/fonts/fira_sans/FiraSans-SemiBold.ttf") format("truetype");
  src: url("../../lib/fonts/fira_sans/FiraSans-SemiBoldItalic.ttf") format("truetype");
  src: url("../../lib/fonts/fira_sans/FiraSans-Thin.ttf") format("truetype");
  src: url("../../lib/fonts/fira_sans/FiraSans-ThinItalic.ttf") format("truetype"); }
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

img {
  width: auto;
  max-width: 100%;
  height: auto !important; }

.container {
  width: 100%;
  margin: 0 auto; }

.container:after,
.row:after {
  content: "";
  display: table;
  clear: both; }

[class*='col-'] {
  float: left;
  padding: 1em;
  width: 100%;
  min-height: 1px;
  display: inline-block;
  text-align: center; }

@media only screen and (min-width: 0px) {
  .container {
    width: 95%;
    max-width: 1200px; }

  .col-sm-1 {
    width: 8.3333333333%; }

  .col-sm-2 {
    width: 16.6666666667%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-4 {
    width: 33.3333333333%; }

  .col-sm-5 {
    width: 41.6666666667%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-7 {
    width: 58.3333333333%; }

  .col-sm-8 {
    width: 66.6666666667%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-10 {
    width: 83.3333333333%; }

  .col-sm-11 {
    width: 91.6666666667%; }

  .col-sm-12 {
    width: 100%; } }
@media only screen and (min-width: 768px) {
  .container {
    width: 95%;
    max-width: 1200px; }

  .col-md-1 {
    width: 8.3333333333%; }

  .col-md-2 {
    width: 16.6666666667%; }

  .col-md-3 {
    width: 25%; }

  .col-md-4 {
    width: 33.3333333333%; }

  .col-md-5 {
    width: 41.6666666667%; }

  .col-md-6 {
    width: 50%; }

  .col-md-7 {
    width: 58.3333333333%; }

  .col-md-8 {
    width: 66.6666666667%; }

  .col-md-9 {
    width: 75%; }

  .col-md-10 {
    width: 83.3333333333%; }

  .col-md-11 {
    width: 91.6666666667%; }

  .col-md-12 {
    width: 100%; } }
@media only screen and (min-width: 1008px) {
  .container {
    width: 95%;
    max-width: 1200px; }

  .col-lg-1 {
    width: 8.3333333333%; }

  .col-lg-2 {
    width: 16.6666666667%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-4 {
    width: 33.3333333333%; }

  .col-lg-5 {
    width: 41.6666666667%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-7 {
    width: 58.3333333333%; }

  .col-lg-8 {
    width: 66.6666666667%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-10 {
    width: 83.3333333333%; }

  .col-lg-11 {
    width: 91.6666666667%; }

  .col-lg-12 {
    width: 100%; } }
@media only screen and (min-width: 1300px) {
  .container {
    width: 95%;
    max-width: 1200px; }

  .col-xl-1 {
    width: 8.3333333333%; }

  .col-xl-2 {
    width: 16.6666666667%; }

  .col-xl-3 {
    width: 25%; }

  .col-xl-4 {
    width: 33.3333333333%; }

  .col-xl-5 {
    width: 41.6666666667%; }

  .col-xl-6 {
    width: 50%; }

  .col-xl-7 {
    width: 58.3333333333%; }

  .col-xl-8 {
    width: 66.6666666667%; }

  .col-xl-9 {
    width: 75%; }

  .col-xl-10 {
    width: 83.3333333333%; }

  .col-xl-11 {
    width: 91.6666666667%; }

  .col-xl-12 {
    width: 100%; } }
* {
  font-family: 'Fira Sans', sans-serif; }

body {
  font-size: 18px; }
  body h1 {
    font-size: 1.5em;
    margin-bottom: 8px; }
    @media only screen and (min-width: 768px) {
      body h1 {
        font-size: 2.5em; } }
  body h2 {
    font-size: 1.8em;
    font-weight: 300;
    text-align: left; }
    @media only screen and (min-width: 768px) {
      body h2 {
        font-size: 2em; } }
  body h3 {
    font-size: 1.8em; }
    @media only screen and (min-width: 768px) {
      body h3 {
        font-size: 1.5em; } }
  body p {
    font-size: 0.8em;
    color: #888;
    font-weight: 200;
    letter-spacing: 1px;
    line-height: 25px;
    text-align: left; }
    @media only screen and (min-width: 768px) {
      body p {
        font-size: 0.9em; } }
  body span.seperator {
    height: 2px;
    display: block;
    width: 20%;
    background-color: #888;
    margin: 30px 0;
    text-align: left; }
  body section {
    padding: 4em 0;
    overflow: hidden; }
    @media only screen and (max-height: 500px) {
      body section {
        padding: 2em 0; } }
  body .custom-word {
    font-size: 1.1em;
    color: #fff; }
  body .fade {
    opacity: 0; }

* {
  font-family: 'Fira Sans', sans-serif; }

body {
  background-color: #fff; }
  body header {
    background-color: #888;
    color: #fff;
    box-shadow: none; }
    body header nav {
      width: 100%;
      background-color: #fff;
      -webkit-box-shadow: -1px 2px 9px 0px #999;
      -moz-box-shadow: -1px 2px 9px 0px #999;
      box-shadow: -1px 2px 9px 0px #888;
      overflow: hidden;
      position: fixed;
      z-index: 1; }
      body header nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        text-align: center; }
        body header nav ul li {
          display: inline-block;
          color: #fff;
          text-align: center;
          padding: 14px 10px; }
          @media only screen and (min-width: 768px) {
            body header nav ul li {
              padding: 14px 16px;
              float: left;
              display: block; } }
          body header nav ul li a {
            display: block;
            text-decoration: none;
            color: #35276d;
            font-weight: 800;
            font-size: 1em; }
          body header nav ul li.backlink {
            display: none; }
            body header nav ul li.backlink i {
              color: #35276d;
              margin-right: 10px; }
  body .footer nav {
    padding: 16px;
    box-shadow: -1px 2px 9px 0px #888; }
    body .footer nav p {
      display: inline;
      font-weight: 500;
      font-size: 0.7em; }
    body .footer nav ul {
      display: inline; }
      body .footer nav ul li {
        float: right;
        list-style: none;
        line-height: 25px; }
        body .footer nav ul li a {
          display: inherit;
          text-decoration: none;
          color: #35276d;
          font-weight: 500;
          font-size: 0.9em; }
  body .home-section {
    height: -webkit-fill-available;
    height: fill-available;
    height: -moz-available;
    height: 100vh; }
    body .home-section video {
      position: absolute;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%; }
      @media only screen and (max-height: 500px) {
        body .home-section video {
          display: none;
          position: inherit; } }
    body .home-section .video-content {
      overflow: hidden;
      text-align: center;
      position: absolute;
      top: 50px;
      bottom: 0;
      background: rgba(41, 28, 93, 0.83);
      color: #f1f1f1;
      width: 100%;
      padding: 20px; }
      @media only screen and (min-width: 768px) {
        body .home-section .video-content {
          padding: 80px; } }
      @media only screen and (max-height: 500px) {
        body .home-section .video-content {
          background-color: #35276d;
          position: inherit; } }
      body .home-section .video-content .typewriter {
        display: inline-block;
        /* Firefox < 16 */
        /* Safari, Chrome and Opera > 12.1 */
        /* Internet Explorer */
        /* Opera < 12.1 */ }
        @media only screen and (min-width: 768px) {
          body .home-section .video-content .typewriter {
            /*Typing Effect*/
            /*The Cursor Effect*/ }
            body .home-section .video-content .typewriter h1 {
              overflow: hidden;
              border-right: 0.1em solid #fff;
              white-space: nowrap;
              margin: 0 auto;
              letter-spacing: 0.1em;
              animation: typing 3s steps(40, end), blink-cursor 1s step-end infinite; }
          @keyframes typing {
            from {
              width: 0; }
            to {
              width: 100%; } }
          @keyframes blink-cursor {
            from, to {
              border-color: transparent; }
            50% {
              border-color: #fff; } } }
        body .home-section .video-content .typewriter h1 {
          display: inline-block; }
          body .home-section .video-content .typewriter h1 .custom-word {
            font-size: 1.4em; }
        body .home-section .video-content .typewriter .fade-in {
          text-align: center;
          -webkit-animation: fadein 2s;
          /* Safari, Chrome and Opera > 12.1 */
          -moz-animation: fadein 2s;
          /* Firefox < 16 */
          -ms-animation: fadein 2s;
          /* Internet Explorer */
          -o-animation: fadein 2s;
          /* Opera < 12.1 */
          animation: fadein 8s;
          display: block; }
@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-ms-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-o-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
    body .home-section .robot-icon {
      color: #fff;
      margin: 0 0 .2em 0;
      display: block;
      -webkit-animation: rotate-scale-up 0.65s linear both;
      animation: rotate-scale-up 0.65s linear both; }
      @media only screen and (min-width: 768px) {
        body .home-section .robot-icon {
          margin: 0 0 .5em 0; } }
      @media only screen and (max-height: 500px) {
        body .home-section .robot-icon {
          margin: 0 0 .1em 0; } }
@-webkit-keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0); }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg); }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg); } }
@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0); }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg); }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg); } }
    body .home-section #chatbotAnchor {
      color: #fff;
      background-color: transparent;
      border: 2px solid #fff;
      padding: 17px 15%;
      margin-top: 50px;
      font-size: 1.2em;
      border-radius: 10px;
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      cursor: pointer; }
      @media only screen and (min-width: 768px) {
        body .home-section #chatbotAnchor {
          padding: 2% 10%;
          margin-top: 142px; } }
      @media only screen and (max-height: 500px) {
        body .home-section #chatbotAnchor {
          display: none; } }
      body .home-section #chatbotAnchor:hover {
        background-color: #fff;
        color: #645394; }
      body .home-section #chatbotAnchor:after {
        content: ' ';
        width: 0;
        height: 642px;
        position: absolute;
        border: 1px solid #fff;
        top: 60px;
        left: 50%; }
      body .home-section #chatbotAnchor:focus {
        outline: none; }
    body .home-section button:hover {
      animation: pulse 0.5s ease-in 1; }
@keyframes pulse {
  25% {
    transform: scale(0.9); }
  75% {
    transform: scale(1.1); } }
    body .home-section .vertical-seperator {
      height: 2px;
      display: block;
      width: 50px;
      rotation: 90deg;
      color: #fff; }
  body section:nth-child(1n) .custom-word {
    color: #645394; }
  body section:nth-child(2n) {
    background-color: #35276d;
    color: #fff; }
    body section:nth-child(2n) p, body section:nth-child(2n) h2 {
      text-align: right; }
    body section:nth-child(2n) p {
      display: inline-block;
      color: #fff; }
    body section:nth-child(2n) .seperator {
      float: right;
      display: block;
      background-color: #fff; }
    body section:nth-child(2n) .custom-word {
      color: #fff; }
  body section.docu-section h2 {
    text-align: left; }
  body section.docu-section p {
    text-align: left; }
  body section.docu-section img {
    width: 55%; }
  body section.history-section_two img {
    width: 40%; }
  body section.chat-section {
    background-image: url("../lib/assets/programming-1873854_1920.png");
    background-size: cover;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center top;
    padding-bottom: 0; }
    body section.chat-section .container div {
      float: inherit;
      margin: 0 auto;
      display: block; }
      body section.chat-section .container div .seperator {
        float: inherit;
        margin: 30px auto; }
      body section.chat-section .container div h2, body section.chat-section .container div p {
        text-align: center;
        color: #fff; }
      body section.chat-section .container div ul {
        margin-top: 20px; }
        body section.chat-section .container div ul li {
          font-size: 0.9em;
          text-align: center;
          list-style: none;
          margin: 10px auto;
          cursor: pointer;
          color: #EFC533; }
          @media only screen and (min-width: 768px) {
            body section.chat-section .container div ul li {
              color: #fff; } }
          body section.chat-section .container div ul li i {
            display: none; }
            @media only screen and (min-width: 768px) {
              body section.chat-section .container div ul li i {
                margin-right: 10px; }
                body section.chat-section .container div ul li i.fa-chevron-circle-left {
                  margin-left: 10px; } }
          body section.chat-section .container div ul li:hover {
            color: #81ff00;
            padding: 0 10px; }
    body section.chat-section div#chat {
      background-color: #fff;
      width: 100%;
      height: 400px;
      margin: 0 0 15px 0;
      border: 1px solid rgba(126, 123, 130, 0.32);
      border-radius: 5px;
      padding: 1rem;
      overflow-y: auto;
      -webkit-box-shadow: 0px 3px 23px -4px white;
      -moz-box-shadow: 0px 3px 23px -4px white;
      box-shadow: 0px 3px 23px -4px white; }
      body section.chat-section div#chat p {
        margin-bottom: 1rem;
        color: #fff;
        padding: 18px 20px;
        line-height: 26px;
        font-size: 0.8em;
        border-radius: 5px;
        width: 100%;
        position: relative; }
        @media only screen and (min-width: 768px) {
          body section.chat-section div#chat p {
            width: 55%;
            margin-bottom: 3rem;
            font-size: 0.9em; } }
        body section.chat-section div#chat p.my-message {
          background-color: #888;
          overflow: hidden;
          float: right;
          text-align: right; }
        body section.chat-section div#chat p.bot-message {
          background-color: #35276d;
          margin-bottom: 1em;
          float: left;
          text-align: left; }
          @media only screen and (min-width: 768px) {
            body section.chat-section div#chat p.bot-message {
              margin-bottom: 3em; } }
    body section.chat-section textarea#question {
      display: block;
      width: 100%;
      padding: 10px;
      font-size: 1em;
      top: 70px;
      border: 1px solid rgba(126, 123, 130, 0.32);
      border-radius: 5px;
      background-color: #fff;
      resize: none;
      -webkit-box-shadow: 0px 3px 23px -4px white;
      -moz-box-shadow: 0px 3px 23px -4px white;
      box-shadow: 0px 3px 23px -4px white; }
      @media only screen and (min-width: 768px) {
        body section.chat-section textarea#question {
          margin-bottom: 1.1em; } }
      body section.chat-section textarea#question:focus {
        outline: none; }
    body section.chat-section button#sendButton {
      margin: 20px auto;
      background-color: #fff;
      border: none;
      border-radius: 5px;
      display: block;
      cursor: pointer;
      color: #35276d;
      text-shadow: inherit;
      font-size: 1.2em;
      padding: 8px 15px;
      text-decoration: none;
      -webkit-box-shadow: 0px 3px 23px -4px white;
      -moz-box-shadow: 0px 3px 23px -4px white;
      box-shadow: 0px 3px 23px -4px white; }
      @media only screen and (min-width: 768px) {
        body section.chat-section button#sendButton {
          margin-bottom: 1em; } }
      body section.chat-section button#sendButton:hover {
        background-color: #35276d;
        color: #fff; }
      body section.chat-section button#sendButton i {
        margin-left: 5px; }
  body section.opensource-section {
    padding: 4em 0;
    background-color: #fff; }
    body section.opensource-section .container h2, body section.opensource-section .container p {
      text-align: center;
      color: #000;
      display: block; }
    body section.opensource-section .container li {
      margin: 15px 0; }
      body section.opensource-section .container li i {
        margin-right: 10px; }
      body section.opensource-section .container li a {
        font-weight: 600;
        text-decoration: none; }
    body section.opensource-section .container .seperator {
      background-color: #000;
      float: none;
      margin: 30px auto; }
  body .impressum {
    padding-top: 6em; }

/*# sourceMappingURL=style.css.map */
