/*main.scss*/

//------------------------------------------
@import "libs/fonts";
@import "libs/vars";
@import "libs/mixins";
@import "libs/reset";
@import "libs/grid";
@import "libs/general";
//------------------------------------------

* {
  font-family: 'Fira Sans', sans-serif;
}
body {
  background-color: $white;
  header {
    background-color: $dark_grey;
    color: $white;
    box-shadow: none;
    nav {
      width: 100%;
      background-color: $white;
      -webkit-box-shadow: -1px 2px 9px 0px #999;
      -moz-box-shadow: -1px 2px 9px 0px #999;
      box-shadow: -1px 2px 9px 0px $dark_grey;
      overflow: hidden;
      position: fixed;
      z-index: 1;
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        text-align: center;
        li {
          display: inline-block;
          color: $white;
          text-align: center;
          padding: 14px 10px;
          @media #{$breakpoint-medium} {
            padding: 14px 16px;
            float: left;
            display: block;
          }
          a {
            display: block;
            text-decoration: none;
            color: $ultraviolet;
            font-weight: 800;
            font-size: 1em;
          }
          &.backlink {
            display: none;
            i {
              color: $ultraviolet;
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
  .footer {
    nav {
      padding: 16px;
      box-shadow: -1px 2px 9px 0px $dark_grey;
      p {
        display: inline;
        font-weight: 500;
        font-size: 0.7em;
      }
      ul {
        display: inline;
        li {
          float: right;
          list-style: none;
          line-height: 25px;
          a {
            display: inherit;
            text-decoration: none;
            color: $ultraviolet;
            font-weight: 500;
            font-size: 0.9em;
          }
        }
      }
    }
  }
  .home-section {
    height: -webkit-fill-available;
    height: fill-available;
    height: -moz-available;
    height: 100vh;
    video {
      position: absolute;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
      @media #{$height-breakpoint} {
        display: none;
        position: inherit;
      }
    }

    .video-content {
      //padding: 6em 0 6em 0;
      overflow: hidden;
      //background-color: $ultraviolet;
      //color: $white;
      text-align: center;
      position: absolute;
      top: 50px;
      bottom: 0;
      background: rgba(41, 28, 93, 0.83);
      color: #f1f1f1;
      width: 100%;
      padding: 20px;
      @media #{$breakpoint-medium} {
        padding: 80px;
      }
      @media #{$height-breakpoint} {
        background-color: $ultraviolet;
        position: inherit;
      }
      .typewriter {
        display: inline-block;
        @media #{$breakpoint-medium} {
          @include typewriter;
        }
        h1 {
          display: inline-block;
          .custom-word {
            font-size: 1.4em;
          }
        }
        @include fadeIn;
      }
    }
    .robot-icon {
      color: $white;
      margin: 0 0 .2em 0;
      @media #{$breakpoint-medium} {
        margin: 0 0 .5em 0;
      }
      @media #{$height-breakpoint} {
        margin: 0 0 .1em 0;
      }
      display: block;
      @include rotateScale;
      -webkit-animation: rotate-scale-up 0.65s linear both;
      animation: rotate-scale-up 0.65s linear both;
    }
    #chatbotAnchor {
      color: $white;
      background-color: transparent;
      border: 2px solid $white;
      padding: 17px 15%;
      @media #{$breakpoint-medium} {
        padding: 2% 10%;
        margin-top: 142px;
      }
      margin-top: 50px;
      font-size: 1.2em;
      border-radius: 10px;
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      cursor: pointer;
      @media #{$height-breakpoint} {
        display: none;
      }
      &:hover {
        background-color: $white;
        color: $violetblue;
      }
      &:after {
        content: ' ';
        width: 0;
        height: 642px;
        position: absolute;
        border: 1px solid #fff;
        top: 60px;
        left: 50%;
      }
      &:focus {
        outline: none;
      }
    }
    @include pulse;
    .vertical-seperator {
      height: 2px;
      display: block;
      width: 50px;
      rotation: 90deg;
      color: $white;
    }
  }
  section {
    &:nth-child(1n) {
      .custom-word {
        color: $violetblue;
      }
    }
    &:nth-child(2n) {
      background-color: $ultraviolet;
      color: $white;
      p, h2 {
        text-align: right;
      }
      p {
        display: inline-block;
        color: $white;
      }
      .seperator {
        float: right;
        display: block;
        background-color: $white;
      }
      .custom-word {
        color: $white;
      }
    }
    &.docu-section {
      h2 {
        text-align: left;
      }
      p {
        text-align: left;
      }
      img {
        width: 55%;
      }
    }
    &.history-section_two {
      img{
        width: 40%;
      }
    }
    &.chat-section {
      background-image: url("../lib/assets/programming-1873854_1920.png");
      background-size: cover;
      background-color: #fff;
      background-repeat: no-repeat;
      background-position: center top;
      padding-bottom: 0;
      .container {
        div {
          float: inherit;
          margin: 0 auto;
          display: block;
          .seperator {
            float: inherit;
            margin: 30px auto;
          }
          h2, p {
            text-align: center;
            color: $white;
          }
          ul {
            margin-top: 20px;
            li {
              font-size: 0.9em;
              text-align: center;
              list-style: none;
              margin: 10px auto;
              cursor: pointer;
              color: $dark_yellow;
              @media #{$breakpoint-medium} {
                color: $white;
              }
              i {
                display: none;
                @media #{$breakpoint-medium} {
                  margin-right: 10px;
                  &.fa-chevron-circle-left {
                    margin-left: 10px;
                  }
                }
              }
              &:hover {
                color: #81ff00;
                padding: 0 10px;
              }
            }
          }
        }
      }
      div#chat {
        background-color: $white;
        width: 100%;
        height: 400px;
        margin: 0 0 15px 0;
        border: 1px solid $light_grey;
        border-radius: 5px;
        padding: 1rem;
        overflow-y: auto;
        -webkit-box-shadow: 0px 3px 23px -4px rgba(255,255,255,1);
        -moz-box-shadow: 0px 3px 23px -4px rgba(255,255,255,1);
        box-shadow: 0px 3px 23px -4px rgba(255,255,255,1);
        p {
          margin-bottom: 1rem;
          color: $white;
          padding: 18px 20px;
          line-height: 26px;
          font-size: 0.8em;
          border-radius: 5px;
          width: 100%;
          @media #{$breakpoint-medium} {
            width: 55%;
            margin-bottom: 3rem;
            font-size: 0.9em;
          }
          position: relative;
          &.my-message {
            background-color: $dark_grey;
            overflow: hidden;
            float: right;
            text-align: right;
          }
          &.bot-message {
            background-color: $ultraviolet;
            margin-bottom: 1em;
            @media #{$breakpoint-medium} {
              margin-bottom: 3em;
            }
            float: left;
            text-align: left;
          }
        }
      }
      textarea#question {
        display: block;
        width: 100%;
        padding: 10px;
        font-size: 1em;
        @media #{$breakpoint-medium} {
          margin-bottom: 1.1em;
        }
        top: 70px;
        border: 1px solid $light_grey;
        border-radius: 5px;
        background-color: $white;
        resize: none;
        -webkit-box-shadow: 0px 3px 23px -4px rgba(255,255,255,1);
        -moz-box-shadow: 0px 3px 23px -4px rgba(255,255,255,1);
        box-shadow: 0px 3px 23px -4px rgba(255,255,255,1);
        &:focus {
          outline: none;
        }
      }
      button#sendButton {
        margin: 20px auto;
        background-color: $white;
        border: none;
        border-radius: 5px;
        display: block;
        cursor:pointer;
        color: $ultraviolet;
        text-shadow: inherit;
        font-size: 1.2em;
        @media #{$breakpoint-medium} {
          margin-bottom: 1em;
        }
        padding:8px 15px;
        text-decoration:none;
        -webkit-box-shadow: 0px 3px 23px -4px rgba(255,255,255,1);
        -moz-box-shadow: 0px 3px 23px -4px rgba(255,255,255,1);
        box-shadow: 0px 3px 23px -4px rgba(255,255,255,1);
        &:hover {
          background-color: $ultraviolet;
          color: $white;
        }
        i {
          margin-left: 5px;
        }
      }
    }
    &.opensource-section {
      padding: 4em 0;
      background-color: $white;
      .container {
        h2, p {
          text-align: center;
          color: $black;
          display: block;
        }
        li {
          margin: 15px 0;
          i {
            margin-right: 10px;
          }
          a {
            font-weight: 600;
            text-decoration: none;
          }
        }
        .seperator {
          background-color: $black;
          float: none;
          margin: 30px auto;
        }
      }
    }
  }
  .impressum {
    padding-top: 6em;
  }
}
