        <div class="footer">
            <nav>
                <p>©Jonas Frese
                    <span id="copyright-year"></span>
                </p>
                <ul>
                    <li><a href="/impressum">Impressum</a></li>
                </ul>
            </nav>
        </div>
        <script src="js/scripts.js"></script>
    </body>
</html>