<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Eliza Rebuild</title>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
    <link href="/lib/fontawesome/fontawesome-free-5.6.3-web/css/all.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="/lib/assets/favicon.ico">
    <script type="text/javascript" charset="utf-8" src="/lib/jquery/jquery.js"></script>
    <script src="lib/axios/axios.min.js"></script>

</head>
<body>
    <header>
        <nav class="mainnav">
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#doku">Dokumentation</a></li>
                <li><a href="#chatbot">Chatbot</a></li>
                <li class="backlink"><a href="/"><i class="fas fa-arrow-left"></i>zurück zur Hauptseite</a></li>
            </ul>
        </nav>
    </header>

