 <% include partials/header.ejs %>
 <% include partials/sections/home.ejs %>
 <% include partials/sections/documentation.ejs %>
 <% include partials/sections/history.ejs %>
 <% include partials/sections/history_part-two.ejs %>
 <% include partials/sections/history_part-three.ejs %>
 <% include partials/sections/chatbot.ejs %>
 <% include partials/sections/opensource.ejs %>
<% include partials/footer.ejs %>
