<section id="chatbot" class="chat-section">
    <div class="container">
        <div class="col-sm-12 col-md12 col-lg-12 col-xl-12">
            <h2>Der Chatbot - Das Ergebnis</h2>
            <span class="seperator"></span>
            <p>
                Hier befindet sich das Ergebnis meiner Arbeit - Eliza.
                Du hast über das Input Feld die Möglichkeit, einen Chat mit Eliza zu starten.
                Bitte bedenke dabei folgende Dinge:
            </p>
            <ul>
                <li><i class="fas fa-chevron-circle-right"></i>Die Sprache ist Englisch<i class="fas fa-chevron-circle-left"></i></li>
                <li><i class="fas fa-chevron-circle-right"></i>Eliza ist auf psychologische Aspekte ausgelegt<i class="fas fa-chevron-circle-left"></i></li>
                <li><i class="fas fa-chevron-circle-right"></i>Bei sinnlosen Sätzen heißt es Themenwechsel!<i class="fas fa-chevron-circle-left"></i></li>
                <li><i class="fas fa-chevron-circle-right"></i>Es werden keinerlei Gesprächsdaten permanent gespeichert<i class="fas fa-chevron-circle-left"></i></li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-11 col-lg-11 col-xl-10">
            <div name="chat" id="chat">
            </div>
            <div>
                <textarea type="text" name="question" id="question" placeholder="Type your message" onkeyup="setText()"></textarea>
                <button id="sendButton" disabled>send<i class="fas fa-paper-plane fa-1x"></i></button>
            </div>
        </div>
    </div>
</section>
