<section class="docu-section" id="doku">
    <div class="container">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <h2>Die unglaubliche Entwicklung von Chatbots</h2>
            <span class="seperator"></span>
            <p class="fade">
                Wir kennen sie heute alle. Siri, Cortana und Alexa.
                Persönliche Sprachassistenten, die uns das Leben erleichtern.
                Doch kaum einer weiß, dass der Grundstein bereits 1966 mit der Entwicklung
                des ersten Chatbots gelegt wurde. Ein Chatbot namens <span class="custom-word">ELIZA</span>.
            </p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <img src="../../lib/assets/message_img.png" alt="message-icon" />
        </div>
    </div>
</section>
