<section class="history-section">
    <div class="container fade">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <img src="../../lib/assets/lightbult.png" alt="lightbulb" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <h2>Mein Nachbau - Ausgangssituation</h2>
            <span class="seperator"></span>
            <p>
                Während Eliza im Januar 1966 in der, von Joseph Weizenbaum entwickelten Programmiersprache,
                <span class="custom-word">MAD-SLIP</span>
                geschrieben wurde, war es mein Ziel, die Funktionalität hinter ELIZA zu verstehen und einen eigenen Chatbot
                mithilfe meiner derzeitigen Web-Programmiererfahrungen zu entwickeln.
            </p>
        </div>
    </div>
</section>