<section class="history-section_two">
    <div class="container fade">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <h2>Mein Nachbau - Die Entwicklung</h2>
            <span class="seperator"></span>
            <p>
                Die Wahl meiner Programmiersprache war für mich kein Problem.
                Schnell war mir klar, dass für mich die Entwicklung eines Chatbots nur mit JavaScript in Frage kommt.
                Zusammen mit der serverseitigen Plattform Node.js habe ich die perfekte Grundlage für das Ausführen der
                beliebten Web-Programmiersprache auf einem Webserver.
            </p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <img src="../../lib/assets/node-js-736399_1280.png" alt="node logo" />
            <img src="../../lib/assets/javascript-736400_1280.png" alt="js logo" />
        </div>
    </div>
</section>
