<section class="history-section_three">
    <div class="container fade">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <img src="../../lib/assets/brain.png" alt="functionality logo" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <h2>Mein Nachbau - Die Funktionsweise</h2>
            <span class="seperator"></span>
            <p>
                Die Webapplikation verfügt über ein Frontend und ein Backend.
                Über das Frontend wird hierbei nicht nur der gesamte Inhalt der Website ausgegeben, sondern es wird auch
                der Satz des Nutzers als Serveranfrage an den, im Hintergrund laufenden, Express Server gesendet.
                Dieser wertet in mehreren Schritten über ein Skript die Daten aus der Anfrage aus.
                Hierzu filtert das Skript die Schlüsselwörter heraus, indem es diese mit den bestehenden Daten vergleicht und
                schickt am Ende den Satz als Serverantwort zurück, der aus dem gesamten Keyword Matching Prozess herausgefiltert
                wurde.
            </p>
        </div>
    </div>
</section>
