<section class="home-section" id="home">
    <video preload="yes" autoplay muted loop id="myVideo">
        <source src="../../lib/assets/video.mp4?raw=true" type="video/mp4">
    </video>
    <div class="video-content">
        <div class="col-lg-12">
            <div class="inner">
                <span class="robot-icon fas fa-robot fa-8x"></span>
                <div class="typewriter">
                    <h1>
                        Willkommen auf <span class="custom-word">ELIZA</span> Rebuild...
                    </h1>
                    <!--<div class="fade-in">-->
                        <p class="fade-in">
                            ...ein Nachbau von ELIZA in <span>Node.js</span> und <span>jQuery</span>
                        </p>
                    <!--</div>-->
                <button id="chatbotAnchor">starten</button>
                </div>
                <span class="vertical-seperator"></span>
            </div>
        </div>
    </div>
</section>
