<section id="opensource" class="opensource-section">
    <div class="container">
        <div class="col-sm-12 col-md12 col-lg-12 col-xl-12">
            <h2>Du möchtest den Code haben?</h2>
            <span class="seperator"></span>
            <p>Das Projekt steht auf gitlab als Open Source zur Verfügung</p>
            <p>Viel Spaß damit!</p>
            <ul>
                <li><a target="_blank" href="https://gitlab.com/jfwebdevelop/eliza-chatbot"><i class="fas fa-share-alt"></i>Eliza Chatbot auf Basis von NodeJS und jQuery</a></li>
            </ul>
        </div>
    </div>
</section>
